/****** generics ******/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/****** utilities ******/

h2 {
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 18px;
}

.dg-w-100 {
  width: 100px;
}

.dg-chev-fs {
  font-size: 12px;
  vertical-align: middle;
  height: 12px;
  line-height: 12px;
}

.dg-fs-32 {
  font-size: 42px;
}

/****** colors ******/

.btn-danger {
  background-color: #cd3d10 !important;
}

.text-primary {
  color: #2d64e6 !important;
}

.dg-text-gray {
  color: #767676;
}

/****** content ******/

/********* HEADER *********/

#dg-bg-jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  margin-top: 120px;
  padding-top: 200px;
}

/********* / HEADER *********/

/********* MAIN *********/

/****** first section ******/

.games img {
  width: 100%;
}

.dg-rounded {
  border-radius: 20px;
}

/****** / first section ******/

/****** second section ******/
.dg-descript {
  display: none;
  font-size: 18px;
}

.dg-trade-s::after {
  content: "\2122";
}

/****** second section ******/

/****** third section ******/

#dg-bg-takes {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

/****** / third section ******/

/****** fourth section ******/

#dg-bg-release {
  background-color: rgb(32, 32, 32);
}

/****** / fourth section ******/

/****** sixth section ******/

#dg-bg-ps-plus {
  background-color: #c1bdbc;
}

.dg-ps-plus {
  width: 300px;
}

.dg-btn-light {
  background-color: rgb(217, 218, 220);
}

.game-ps-plus {
  display: none;
}

/****** sixth section ******/

/****** eight section ******/

#dg-ps-now {
  background-color: rgb(22, 28, 60);
}

.dg-game-ps-now {
  display: none;
}

.logo-ps-now {
  width: 350px;
}

/****** / eight section ******/

/****** nine section ******/

.dg-title-social {
  font-size: 36px;
}

/****** mediaquery ******/

@media screen and (min-width: 768px) {
  #gallery {
    justify-content: space-between;
  }

  .dg-descript {
    display: block;
  }

  .game-ps-plus {
    display: inline-block;
  }

  .dg-game-ps-now {
    display: inline-block;
  }
}
