/****** generics ******/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
}

/****** utilities ******/

h2 {
  font-size: 44px;
  font-weight: 500;
}

.dg-w-100 {
  width: 100px;
}

.dg-chev-fs {
  font-size: 12px;
  vertical-align: middle;
  height: 12px;
  line-height: 12px;
}

.dg-fs-32 {
  font-size: 42px;
}

/****** colors ******/

.btn-danger {
  background-color: #cd3d10 !important;
}

.text-primary {
  color: rgb(29, 130, 211) !important;
}

.dg-text-gray {
  color: #767676;
}

/****** content ******/

/********* HEADER *********/

.dg-bg-jumbo {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position-x: center;
  height: 600px;
}

/********* / HEADER *********/

/********* MAIN *********/

/****** first section ******/

.games img {
  width: 100%;
}

.dg-rounded {
  border-radius: 20px;
}
