/* generics */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
}

/* utilities */

.dg-w-100 {
  width: 100px;
}

.dg-chev-fs {
  font-size: 12px;
  vertical-align: middle;
  height: 12px;
  line-height: 12px;
}

.dg-fs-32 {
  font-size: 40px;
}

/* colors */

.btn-danger {
  background-color: #cd3d10 !important;
}

/* content */

/******* HEADER *******/

.dg-bg-jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position-x: center;
  height: 600px;
}
